= form_for @task, url: project_tasks_path(@project) do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :assignee
    = f.select :assignee_id, options_from_collection_for_select(@project.users, :id, :email, @task.assignee_id), include_blank: true
  .actions
    = f.submit 'Save'
