- path = @task.persisted? ? project_task_path(@project, @task) : project_tasks_path(@project)
= form_for @task, url: path do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  - if @task.persisted?
    .field
      = f.label :status
      = f.select :status, Task.statuses.keys.map { |s| [s.humanize, s] }
  .field
    = f.label :assignee
    = f.select :assignee_id, options_from_collection_for_select(@project.users, :id, :email, @task.assignee_id), include_blank: true
  .actions
    = f.submit 'Save'
